includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
  level: max
  paths:
    - app
    - routes
  ignoreErrors:
    # Add any specific errors to ignore here
  excludePaths:
    # Add any paths to exclude here
  checkMissingIterableValueType: false
